/*Google fonts
*Roboto
*Rampart One
*/
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*inställningar body, html*/
body,
html {
    padding: 0;
    margin: 0;
    background-color: #F7F0F0;
    font-family: "Roboto", sans-serif;
}

/* Header */

.header-container {
    background-color: #F7A4A4;
    text-align: center;
}

.nav-left .current,
.nav-right .current{
 border-bottom: 2px solid black;
 border-radius: 2px;
}

.logo img {
    width: 25%;
    max-width: 500px;
    padding: 1em;
}

.nav-right {
    position: relative;
    top: 35px;
    margin-left: 0.5em;
}

.nav-left {
    position: relative;
    top: 35px;
    margin-right: 0.5em;
}

.nav-left,
.nav-right,
.logo {
    display: inline;
    vertical-align: middle;
}

.nav-left ul,
.nav-right ul {
    display: inline;
    margin: 0;
    padding: 0;
    font-family: "Rampart One", sans-serif;
    font-size: 2em;
}

.nav-left li,
.nav-right li {
    display: inline-block;
    list-style-type: none;
    padding: 0.4em;
}


.nav-left a,
.nav-right a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: transform 0.5s ease
}
.nav-left a:hover,
.nav-right a:hover{
    transform: scale(1.1);
}


/* Footer */

footer{
    background-color: #F7CFCF;
    text-align: center;
    padding: 1em;
}

footer h3{
    font-weight: 300;
    font-size: 1.3em;
}

.admin-link{
    color: black;
    font-weight: 300;
    font-size: 1.2em;
    text-decoration: none;
}

.admin-link:hover{
    text-decoration: underline;
}

i{
    color: #F77171;
    font-size: 3em;
    padding: 0 0.5em 1em 0.5em;
}

.footer-nav ul li{
display: inline-block;
font-family: "Rampart One", sans-serif;
padding: 0 0.5em 0.5em 0.5em;
font-size: 1.7em;
}

.footer-nav a{
    color: black;
    text-decoration: none;
}

.footer-nav a:hover{
    border-bottom: 2px solid black;
}